Pos.UI.WinClient/Service References/WebUserService/UserWebService22.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Pos.Core.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Pos.Core.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8035/UserWebService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:8035/UserWebService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Pos.Core" />
  <xs:import schemaLocation="http://localhost:8035/UserWebService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Pos.Core.Enums" />
  <xs:complexType name="User">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Pos.Core" base="q1:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Status" type="xs:boolean" />
          <xs:element minOccurs="0" name="UserGuid" type="ser:guid" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserRole" nillable="true" type="tns:UserRole" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="UserRole">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Pos.Core" base="q2:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Pos.Core.Enums" minOccurs="0" name="UserInRole" type="q3:UserInRole" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserRole" nillable="true" type="tns:UserRole" />
</xs:schema>